<div class="content-title flex-container">
    <div>
        <h3 class="d-inline">Activities</h3> 
        <button type="button" class="btn btn-default btn-sm">
                <i class="fas fa-edit"></i>
        </button>    
    </div>
</div>

<div class="activities-container d-flex justify-content-center" style="flex-grow">
    <% @activities[x..y].each_with_index do |a, n| %>
        <div class="card" style="width: 18rem; overflow: hidden">
                <img class="card-img-top" src=<%=a.picture%> alt="Card image cap" style="">
                <div class="card-body">
                    <h5 class="card-title"><%=a.title%></h5>
                    <div>           
                        <%= image_tag match_stars(@ratings['activities'][x+n], "regular")%> based on <%=link_to "#{@reviews['activities'][x+n]} reviews", a.link %> 
                    </div>
                    <div class="float-right align-bottom" style="vertical-align: bottom">
                        Powered by <%= image_tag "yelp_logo/Yelp_trademark_RGB_outline", :style => "width: 80px; margin: 0px" %>
                    </div>
                    <p class="actionid d-none"><%=a.id%></p>
                </div>
        </div>
    <% end %>
</div>