<div id= 'actionslist'>
	
	
	<% @actions.each do |x| %>
			<%= x.title %>
			</br>
			<%= x.type %>
			</br>	
			<%= x.description %>
			</br>
			<%= x.location %>
			</br>
			<%= x.time %>
			</br>
			<%= x.price %>
			</br>	
		<% if x.picture != nil %>
		<%= image_tag x.picture %>
		</br>
		<% end %>

		<div>
			<%= button_to 'Add to trip'
			%>
		</div>

	<% end %>


</div>	