

<div class="text-field">	
  <%= form.label :first_name %>
  <%= form.text_field :first_name, type: 'form-control' %>
</div>


<div class="text-field">	
  <%= form.label :last_name %>
  <%= form.text_field :last_name, type: 'form-control' %>


</div>


<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<div class="text-field">
  <%= form.label :interest %>
  <%= form.text_field :interest %>
</div>


<div class= "avatar-field">
<%= form.label :avatar %>
<%= form.file_field :avatar %>
</div>