<!DOCTYPE html>
<html>
  <head>
    <title>Pegatrip</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

    <link rel='shortcut icon' type='image/x-icon' href='/logo.png' />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
  </head>

  <body style="margin: 0px">
    <nav class="navbar container-fluid flex flex-grow" style="margin-top: 3vh">
     
      <img src="/plogo_shadow.png" class="d-inline-block" style="height: 7vh; margin-left: 8vw"/>
      
       <div id="header" class="d-inline-block justify-content-end" style="margin-right: 8vw">
         <% if signed_in? %>
          <%= button_to t(".sign_out"), sign_out_path, method: :delete, :class => "btn btn-outline", :style => "color: #3ac9c6; border-color: #3ac9c6" %>
         <% else -%>
            <div align="center">  
              <button type="button" name="login" id="login" class="btn btn-outline" style="color: #3ac9c6; border-color: #3ac9c6" data-toggle="modal" data-target="#loginModal" onclick="show_login()">Sign in</button>  
            </div>

            <div id="loginModal" class="modal fade" role="dialog">  
              <div class="modal-dialog">  
           <!-- Modal content-->  
                   <div class="modal-content">  
                        <div class="modal-header"> 
                          <div class="container d-inline-block">
                             <input type="button" class="btn btn-outline-secondary" onclick="show_login();" value="Login"> 
                             <input type="button" class="btn btn-outline-secondary" onclick="show_signup();" value="Sign up">
                             </div>
                             <button type="button" class="close" data-dismiss="modal">&times;</button> 
                        </div>  
                        <div class="modal-body">  
                          <section id="login_div">
                            <%= render partial: '/sessions/form' %>
                          </section>
                          <section id="register_div">
                            <% @user = User.new %>
                            <%= render partial: '/users/form' %>
                          </section>
                        </div>
                   </div>
              </div>
            </div>
          <% end -%>
        </div>
      </nav>

    <div id="flash">
      <% flash.each do |key, value| -%>
        <div id="flash_<%= key %>"><%=h value %></div>
      <% end %>
    </div>


    <%= yield %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>
